PUBLIC_HOST=localhost
LAN_HOST=localhost
HTTPS_PORT=38001
HTTP_PORT=80
TURN_HOST=localhost
TURN_EXTERNAL_IP=
TURN_PORT=38002
TURN_MIN_PORT=38010
TURN_MAX_PORT=38050
TURN_REALM=remote-emulator
TURN_USER=remote
TURN_SHARED_SECRET=change-me
TURN_CREDENTIAL_TTL_SECONDS=3600
TURN_ICE_TRANSPORT_POLICY=relay
TURN_DENY_PRIVATE_PEERS=true
TURN_USER_QUOTA=2
TURN_TOTAL_QUOTA=20
TURN_MAX_BPS=2500000
TURN_BPS_CAPACITY=25000000
EMULATOR_GRPC=emulator:8554
EMULATOR_IMAGE=us-docker.pkg.dev/android-emulator-268719/images/30-google-x64:30.1.2
EMULATOR_PARAMS=-no-window -no-audio -no-boot-anim -turncfg /usr/local/bin/turncfg.sh
ADBKEY=
ADBKEY_PUB=
EMU_WIDTH=1080
EMU_HEIGHT=1920
EMU_DISPLAY=0
INPUT_MODE=unary
GRPC_WEB_URI=/grpc
ENABLE_MOUSE_INPUT=false
TOUCH_DEBUG=false
APP_CONTROL_ENABLED=true
EMULATOR_ADB_SERIAL=emulator:5555
ADB_BIN=adb
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=
DEBUG_ROUTES=false
CADDY_ACME_EMAIL=
CADDY_ACME_DNS_CLOUDFLARE=false
CADDY_ACME_DNS_RESOLVERS=1.1.1.1
CLOUDFLARE_API_TOKEN=
